:root {
    --main: #19421C;
    --main-solid: #4CB14D;
    --bg-f4: #F4F4F4;
    --text-error: #FF8682;
    --c-sub-title: #313131;
    --c-disable: #808080ab;
    --BC8D3B: #BC8D3B;


    --white: #FFFFFF;
    --black: #000000;

    --font-size-11: 11px;
    --font-size-12: 12px;
    --font-size-13: 13px;
    --font-size-14: 14px;
    --font-size-15: 15px;
    --font-size-16: 16px;
    --font-size-17: 17px;
    --font-size-18: 18px;
    --font-size-20: 20px;
    --font-size-22: 22px;
    --font-size-24: 24px;
    --font-size-26: 26px;
    --font-size-28: 28px;
    --font-size-30: 30px;
    --font-size-32: 32px;
    --font-size-36: 36px;
    --font-size-40: 40px;
    --font-size-l-2: 22px;
    --font-size-m-2: 20px;
    --font-size-s-2: 17px;
    --font-size-xxl-2: 32px;
    --font-size-xl-2: 24px;

    /* --font-family-main: "Poppins", Helvetica; */
    --font-family-main: 'Noto Sans Thai', sans-serif;
}

body {
    width: -webkit-fill-available;
    font-family: var(--font-family-main);
}

p {
    margin: 0;
}

.w-full {
    width: -webkit-fill-available;
}

.w-fit {
    width: fit-content;
}

.h-full {
    height: -webkit-fill-available;
}

.div-main {
    min-height: 100vh;
    max-width: 1440px;
    justify-self: center;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}

.div-login {
    /* max-height: 816px; */
    justify-self: center;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}

.form {
    width: 50%
}

.form .title {
    font-size: var(--font-size-40);
    font-weight: 600;
}

.form .sub-title {
    font-size: var(--font-size-16);
    color: var(--c-sub-title);
    font-weight: 400;
}

.bg {
    width: 50%;
    height: -webkit-fill-available;
}

.bg .card-bg {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    background-color: var(--bg-f4);
    border: 0;
    border-radius: 30px;
}

.title-forget {
    font-size: var(--font-size-14);
    font-weight: 500;
    color: var(--text-error);
}

[type="checkbox"]:checked+span:not(.lever):before {
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid var(--main);
    border-bottom: 2px solid var(--main);
}

.outlined-input {
    border: 1px solid #79747E !important;
    border-radius: 6px !important;
    padding: 4px 12px !important;
    width: -webkit-fill-available !important;
    outline: none !important;
    font-size: 16px !important;
    background: transparent;
    transition: border-color 0.3s ease, box-shadow 0.3s ease !important;
}

.outlined-input:focus {
    border-color: var(--main-solid) !important;
    box-shadow: none !important;
}

/* Floating Label */
.outlined-field {
    position: relative;
    margin-top: 15px;
}

.outlined-field label {
    position: absolute;
    top: 15px;
    left: 14px;
    color: #9e9e9e;
    font-size: 16px;
    transition: 0.2s ease all;
    pointer-events: none;
    background: white;
    padding: 0 4px;
}

/* เมื่อ focus หรือมีค่า */
.outlined-input:focus+label,
.outlined-input:not(:placeholder-shown)+label {
    top: -8px;
    left: 10px;
    font-size: 12px;
    /* color: var(--main-solid); */
}

input[type=text]:not(.browser-default):focus:not([readonly])+label {
    color: var(--main-solid);
}

.visibility-toggle {
    position: absolute;
    right: 10px;
    top: 45%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #9e9e9e;
    font-size: var(--font-size-20);
    transition: color 0.2s ease;
}

.visibility-toggle:hover {
    color: var(--main-solid);
}

.spacer {
    height: 10px;
}

button {
    font-family: var(--font-family-main);
}

.primary-btn {
    font-size: var(--font-size-14);
    font-weight: 600;
    color: var(--white);
    background-color: var(--main);
    padding: 15px 16px;
    width: -webkit-fill-available;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
}

.primary-btn:focus {
    background-color: var(--main) !important;
}

.primary-btn:disabled {
    background-color: var(--c-disable) !important;
    cursor: not-allowed;
}

.pointer {
    cursor: pointer;
}

dialog[open] {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 50px;
    gap: 24px;
    border: none;
    border-radius: 24px;
    font-family: var(--font-family-main);
}

dialog .icon {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    padding: 40px;
    display: flex;
    background-color: var(--main);
    color: var(--white);
    font-size: var(--font-size-36) !important;
}

dialog .icon img {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}

dialog .title {
    font-size: var(--font-size-36);
    color: var(--main);
    font-weight: 700;
    width: -webkit-fill-available;
}

dialog .subTitle {
    font-size: var(--font-size-20);
    width: -webkit-fill-available;
}

.forgetSuccess {
    max-width: 775px;
    width: -webkit-fill-available;
}

dialog:-internal-dialog-in-top-layer::backdrop {
    position: fixed;
    inset: 0px;
    background: #00000080;
}

.custom-checkbox {
    display: flex;
    align-items: center;
    gap: 12px;
    font-family: 'Prompt', sans-serif;
    /* ปรับฟอนต์ได้ */
    font-size: 18px;
    color: #000;
    cursor: pointer;
}

.custom-checkbox input[type="checkbox"] {
    display: none;
    /* ซ่อน input ดั้งเดิม */
}

.custom-checkbox input[type="checkbox"]+span:not(.lever):before {
    display: none;
}

.custom-checkbox .box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 8px;
    background-color: white;
    border: 2px solid #ddd;
    cursor: pointer;
    transition: all 0.1s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    position: relative;
    padding-left: 0 !important;
}

.custom-checkbox input[type="checkbox"]:checked+.box {
    background-color: #4caf50;
    /* เขียว */
    border-color: #4caf50;
}

.custom-checkbox input[type="checkbox"]:checked+.box::after {
    content: "";
    width: 8px;
    height: 15.67px;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    transform: rotate(45deg);
    opacity: 0;
    transition: opacity 0.1s ease;
    position: absolute;
    top: -2px;
    justify-self: anchor-center;
}

.custom-checkbox input[type="checkbox"]:checked+.box::after {
    opacity: 1;
}

.custom-checkbox .label {
    font-size: var(--font-size-14);
    width: -webkit-fill-available;
}

.drop-shadow {
    box-shadow: 0px 0px 20px 0px #0000001A;
}

.inner-shadow {
    box-shadow: 0px 0px 20px 0px #00000040 inset;
}

.card-profile {
    border-radius: 21px;
    padding: 100px 30px 30px 30px;
    max-width: 946px;
    position: relative;
}

.img-profile {
    border-radius: 100%;
    width: 160px;
    height: 160px;
    box-shadow: 0px 4px 4px 0px #00000040;
    background-color: #F0F0F0;
    position: absolute;
    top: -90px;

}

.img-profile img {
    width: -webkit-fill-available;
    height: auto;
    transform: scale(0.6);
}

.card-profile .title {
    font-size: var(--font-size-32);
    font-weight: 700;
    line-height: normal;
}

.btn-1,
.btn-1:hover:active:focus {
    background-color: var(--main) !important;

}

.btn-2,
.btn-2:hover:active:focus {
    background-color: var(--main-solid) !important;
}

.btn-3,
.btn-3:hover:active:focus {
    background-color: var(--BC8D3B) !important;
}

.btn,
.btn:active:hover {
    color: var(--white) !important;
    font-size: var(--font-size-24);
    border: none;
    border-radius: 25px;
    padding: 5px 25px;
    height: auto;
    width: -webkit-fill-available;
    box-shadow: none !important;
}

.btn img {
    height: auto;
    width: 30px;
}

.card-form {
    border-radius: 24px;
    padding: 30px;
    gap: 20px;
    max-width: 950px;
}

.card-form .title {
    color: var(--main) !important;
    font-size: var(--font-size-24);
    font-weight: 700;
    text-align: center;
}

.card-form li {
    font-size: var(--font-size-20) !important;
}

dl,
ol,
ul {
    margin: 0;
    padding-left: 2rem !important;
}

li {
    list-style-type: disc !important;
}

hr {
    margin: 0;
    border: 1px solid #D9D9D9
}

.div-card-form {
    gap: 40px;
}

.w-fit {
    width: fit-content;
}

.btn-add {
    color: var(--white) !important;
    font-size: var(--font-size-20);
    border: none;
    border-radius: 25px;
    padding: 5px 15px;
    height: auto;
    box-shadow: none !important;
    line-height: normal;
    display: flex;
    align-items: center;
    gap: 5px;
}

@media (min-width: 1024px) {

    .div-login {
        padding: 100px;
        gap: 100px;
    }

}

@media (min-width: 768px) and (max-width: 1023px) {

    .div-login {
        padding: 50px;
        gap: 50px;
    }

    .form .title {
        font-size: var(--font-size-30);
    }

    .forgetSuccess {
        max-width: 550px;
        width: -webkit-fill-available;
    }

    dialog .title {
        font-size: var(--font-size-30);
    }

    dialog .subTitle {
        font-size: var(--font-size-18);
    }

    dialog[open] {
        padding: 40px;
    }

    .primary-btn {
        padding: 10px;
    }

    dialog .icon {
        width: 120px;
        height: 120px;
        padding: 30px;
    }

    .div-profile {
        padding: 30px;
    }

    .div-card-form {
        gap: 30px;
    }

    .card-form {
        max-width: -webkit-fill-available;
    }

    .card-profile .title {
        font-size: var(--font-size-26);
    }

    .btn {
        font-size: var(--font-size-16);
    }

    .div-btn-profile-action {
        gap: 12px !important;
    }

    .card-profile {
        padding: 100px 20px 20px 20px;
    }

    .card-form .title {
        font-size: var(--font-size-20);
    }

    .card-form li {
        font-size: var(--font-size-16) !important;
    }


}

@media (max-width: 767px) {
    .div-login {
        max-height: -webkit-fill-available;
        flex-wrap: wrap-reverse;
    }

    .form {
        width: -webkit-fill-available;
        height: max-content;
        padding: 30px;
    }

    .form .title {
        font-size: var(--font-size-26);
    }

    .bg {
        width: -webkit-fill-available;
        height: max-content;
    }

    .bg .card-bg {
        border-radius: 0;
    }

    .card-bg img {
        max-width: 400px;
    }

    dialog[open] {
        padding: 50px 30px;
        margin-left: 20px;
        margin-right: 20px;
    }

    dialog .icon {
        width: 93px;
        height: 93px;
        padding: 25px;
    }

    dialog .title {
        font-size: var(--font-size-20);
    }

    dialog .subTitle {
        font-size: var(--font-size-13);
    }

    .primary-btn {
        padding: 10px;
    }

    .div-profile {
        padding: 110px 20px 20px 20px;
    }

    .div-btn-profile-action {
        flex-direction: column;
    }

    .div-card-form {
        flex-direction: column;
        gap: 20px;
    }

    .card-form {
        max-width: -webkit-fill-available;
    }

    .card-profile .title {
        font-size: var(--font-size-20);
    }

    .btn {
        font-size: var(--font-size-16);
    }

    .card-form .title {
        font-size: var(--font-size-20);
    }

    .card-form li {
        font-size: var(--font-size-16) !important;
    }

    .group-form {
        flex-direction: column;
    }

}