:root {
    --main: #19421C;
    --main-solid: #4CB14D;
    --bg-f4: #F4F4F4;
    --text-error: #FF8682;
    --c-sub-title: #313131;

    --white: #FFFFFF;
    --black: #000000;

    --font-size-11: 11px;
    --font-size-12: 12px;
    --font-size-13: 13px;
    --font-size-14: 14px;
    --font-size-15: 15px;
    --font-size-16: 16px;
    --font-size-17: 17px;
    --font-size-18: 18px;
    --font-size-20: 20px;
    --font-size-22: 22px;
    --font-size-24: 24px;
    --font-size-28: 28px;
    --font-size-32: 32px;
    --font-size-40: 40px;
    --font-size-l-2: 22px;
    --font-size-m-2: 20px;
    --font-size-s-2: 17px;
    --font-size-xxl-2: 32px;
    --font-size-xl-2: 24px;

    /* --font-family-main: "Poppins", Helvetica; */
    --font-family-main: 'Noto Sans Thai', sans-serif;
}

body {
    width: -webkit-fill-available;
    font-family: var(--font-family-main);
}

.w-full {
    width: -webkit-fill-available;
}

.w-fit {
    width: fit-content;
}

.h-full {
    height: -webkit-fill-available;
}

.div-main {
    min-height: 100vh;
    max-width: 1440px;
    justify-self: center;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}

.div-login {
    max-height: 816px;
    justify-self: center;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}

.form {
    width: 50%
}

.form .title {
    font-size: var(--font-size-40);
    font-weight: 600;
}

.form .sub-title {
    font-size: var(--font-size-16);
    color: var(--c-sub-title);
    font-weight: 400;
}

.bg {
    width: 50%;
    height: -webkit-fill-available;
}

.bg .card-bg {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    background-color: var(--bg-f4);
    border: 0;
    border-radius: 30px;
}

.title-forget {
    font-size: var(--font-size-14);
    font-weight: 500;
    color: var(--text-error);
}

[type="checkbox"]:checked+span:not(.lever):before {
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid var(--main);
    border-bottom: 2px solid var(--main);
}

.outlined-input {
    border: 1px solid #79747E !important;
    border-radius: 6px !important;
    padding: 4px 12px !important;
    width: -webkit-fill-available !important;
    outline: none !important;
    font-size: 16px !important;
    background: transparent;
    transition: border-color 0.3s ease, box-shadow 0.3s ease !important;
}

.outlined-input:focus {
    border-color: var(--main-solid) !important;
    box-shadow: none !important;
}

/* Floating Label */
.outlined-field {
    position: relative;
    margin-top: 15px;
}

.outlined-field label {
    position: absolute;
    top: 15px;
    left: 14px;
    color: #9e9e9e;
    font-size: 16px;
    transition: 0.2s ease all;
    pointer-events: none;
    background: white;
    padding: 0 4px;
}

/* เมื่อ focus หรือมีค่า */
.outlined-input:focus+label,
.outlined-input:not(:placeholder-shown)+label {
    top: -8px;
    left: 10px;
    font-size: 12px;
    /* color: var(--main-solid); */
}

input[type=text]:not(.browser-default):focus:not([readonly])+label {
    color: var(--main-solid);
}

.visibility-toggle {
    position: absolute;
    right: 10px;
    top: 45%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #9e9e9e;
    font-size: var(--font-size-20);
    transition: color 0.2s ease;
}

.visibility-toggle:hover {
    color: var(--main-solid);
}

.spacer {
    height: 10px;
}

.primary-btn {
    font-size: var(--font-size-14);
    font-weight: 600;
    color: var(--white);
    background-color: var(--main);
    padding: 15px 16px;
    width: -webkit-fill-available;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.primary-btn:active {
    background-color: var(--main);
}

.pointer {
    cursor: pointer;
}

@media (min-width: 1024px) {

    .div-login {
        padding: 50px;
        gap: 100px;
    }

}

@media (min-width: 768px) and (max-width: 1023px) {

    .div-login {
        padding: 50px;
        gap: 50px;
    }

        .form {
            /* width: -webkit-fill-available; */
            /* padding: 0 50px; */
        }

        .bg {
            /* width: -webkit-fill-available; */
        }
}

@media (max-width: 767px) {
    .div-login {
        max-height: -webkit-fill-available;
        flex-wrap: wrap-reverse;
    }

    .form {
        width: -webkit-fill-available;
        height: 60%;
        padding: 0 30px;
    }

    .bg {
        width: -webkit-fill-available;
        height: 40%;
    }

    .bg .card-bg {
        border-radius: 0;
    }

    .card-bg img{
        max-width: 400px;
        
    }
}